// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
// @import "variables";

// Bootstrap
    // @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Materialize
    @import "node_modules/materialize-css/sass/materialize.scss";

    body{
//        background-color: #FFFFF7;
    }


    // Register Styles

    header{
        margin-top:-1.5em;
    }

    .registerRow{
        margin-top: 5%;
    }

    .regFormCol{
        border: 2px solid #444;
        padding: 1em;
    }

    form{
        padding:0em 2em 0em 2em;
    }

    h1{
        font-family: "p22-stanyan",serif;
        font-style: normal;
        font-weight: 700;
        font-size: 6em;
        text-align:center;
    }

    .byline{
        font-family: "p22-stanyan", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        text-align: center;
    }


    .registerSpan{
        margin-left: 2em;
    }

    // Footer styles
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }



    // Nav Styles
.nav-wrapper{
    width: 60%;
    margin:auto;
    }


.cactusLogo{
    font-family: "p22-stanyan", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}

.homeRow{
    margin-top: 3em;
}


// Group Styles

.collection-item{
    font-size: 1.25em;
}

.collection-item {
    color:#222 !important;
}

.articleTitle a{
    font-size: .5em;
    color: color("pink", "lighten-1") !important;
    text-align: center;
    text-decoration: underline;
}

.articleTitle{
    display:block;
    margin-bottom:0em;
}

.articleAuthor{
    font-size: 1em;
}

.title{
    color: #888 !important;
}

.commentCollectionHeader{
    font-size: 1.5em;
}
